.about-section{
  display: flex;
  flex-direction: row;
  margin: 40px;
  width: auto;
}

.about-vector {
  max-width: 40%;
  max-height: 50%;
  display: flex;
  justify-content: flex-end;
  border-radius: 20px;
}

.about-header{
  margin: 20px;
  padding: 20px;
}